.form-container {
    display: flex;
    background-color: aliceblue;
    border: 1px solid black;
    width: 100%;
    min-height: 300px;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title {
    width: 400px;
    background-color: blueviolet;
    text-align: center;
}

.form-input {
    background-color: #fff;
    width: 400px;
    display: flex;
    flex-direction: column;
}